*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
  padding: 3rem;
  color: #393a3d;
  background-color: #363636; }

.invoice {
  background-color: white;
  margin: 0 auto;
  width: 122.5rem; }

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 7rem; }

.header {
  padding-block: 3rem; }
  .header .title {
    text-transform: uppercase;
    font-weight: 900;
    color: #0077c5; }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo img {
    display: block; }
  .header__text {
    display: flex;
    gap: 3rem; }
    .header__text--box {
      width: 40%; }
      .header__text--box strong {
        font-weight: 900; }
      .header__text--box a:link, .header__text--box a:visited {
        display: block;
        text-decoration: none;
        color: inherit; }

main {
  height: 40rem;
  background-color: #ebf4fa; }
  main .container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column; }
  main .heading {
    color: #0077c5;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 500; }
  main .customer .title,
  main .detail .title {
    font-weight: 900; }
  main .line {
    background-color: #e3e5e8;
    height: 1px;
    width: 100%;
    margin-block: 5rem; }

.table {
  width: 100%;
  padding-block: 3rem; }
  .table table {
    width: 100%;
    border-collapse: collapse; }
    .table table .left {
      text-align: left; }
    .table table tr {
      border-bottom: 1px solid #dddddd; }
    .table table th {
      font-weight: 900; }
    .table table td.name {
      font-weight: 900; }
    .table table td,
    .table table th {
      text-align: right;
      padding: 2rem; }

footer {
  padding-bottom: 50rem; }
  footer .container .footer-content {
    display: flex;
    justify-content: space-between; }
  footer .left .title {
    color: #0077c5;
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 1rem; }
  footer .left .cards {
    display: flex;
    gap: 1rem; }
    footer .left .cards .line {
      width: 1px;
      background-color: #dddddd; }
  footer .right {
    width: 50%; }
    footer .right table {
      width: 100%;
      border-collapse: collapse;
      text-align: right; }
      footer .right table .left {
        text-align: left; }
      footer .right table .big {
        font-size: 2.4rem;
        font-weight: 900; }
      footer .right table strong {
        font-weight: 900; }
      footer .right table tr {
        border-bottom: 1px solid #dddddd; }
      footer .right table th {
        font-weight: 900; }
      footer .right table td.name {
        font-weight: 900; }
      footer .right table td,
      footer .right table th {
        text-align: right;
        padding: 2rem; }
  footer .bottom-line {
    text-align: right;
    font-size: 2.4rem;
    color: #2ca01c;
    margin-top: 2rem; }
